<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css"
    integrity="sha512-EaaldggZt4DPKMYBa143vxXQqLq5LE29DG/0OoVenoyxDrAScYrcYcHIuxYO9YNTIQMgD8c8gIUU8FQw7WpXSQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Honest Insights</title>
</head>

<body>
    <!-- Header Start from here  -->
    <div class="header">
        <div class="heading">
            <h1><i class="fa fa-thumbs-up" aria-hidden="true"></i>Honest Insights</h1>
        </div>
        <div class="login">
            <a href="/login/">
                <span>LOGIN</span>
            </a>
        </div>
    </div>

    <!-- Note Section start from here  -->
    <div class="note">
        <div class="note_heading">
            <h2>OBJECTIVE</h2>
        </div>
        <div class="description">

            <p>Honest Insights is a platform where people can share their real thoughts and experiences about different
                things like products or services. It's a place for honest opinions, making it easier for others to trust
                and make informed decisions based on what real users have to say.</p>
        </div>
    </div>
    <div class="line"></div>
    <!-- Note section end here  -->

    <!-- space section start from here  -->
    <div class="spaces">
        <div class="space_heading">
            <h2>Spaces</h2>
        </div>
        <div class="create_space_btn">
            <a href="/dashboard/"><i class="fa fa-plus" aria-hidden="true"></i>Create Your Space</a>
        </div>
    </div>
    <!-- space secion end here  -->
</body>

</html>