<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <!-- sign up form section start from here  -->
    <section class="sign_up">
        <div class="sigup_form">
            <div class="form_heading">
                <h3>Create Your Account</h3>
            </div>
            <div class="form_detail">
                <form action="/signup/" method="post">
                    {% csrf_token %}
                    <div class="form_name detail">
                        <label for="name">Full Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter Your Full Name" required>
                    </div>
                    <div class="form_email detail">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter Your Email" required>
                    </div>
                    <div class="form_contact detail">
                        <label for="contact">Contact</label>
                        <input type="number" name="contact" id="contact" placeholder="Enter Your Contact Number"
                            required>
                    </div>
                    <div class="form_password detail">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter Your Password" required>
                    </div>
                    <div class="form_repassword detail">
                        <label for="repassword">Re-Password</label>
                        <input type="password" name="repassword" id="repassword" placeholder="Re-Enter Your Passowrd"
                            required>
                    </div>
                    <div class="form_btn_already_acc">
                        <div class="form_btn">
                            <button type="submit" class="btn" id="btn">Create an Account</button>
                        </div>
                        <div class="alredy_acc">
                            <span><a href="/login/">Already Have Account!!</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- sign up form section end here  -->


</body>

</html>