@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: grey;
}

/* Frame css start from here   */
.frame {
    background-color: white;
    width: 90%;
    margin: auto;
    display: flex;
}
.frame .livePreview {
    width: 40%;
}
.frame .CreateSpace {
    width: 60%;
}


 /* heading css start from here */
.frame .CreateSpace .heading h1{
    font-size: 2rem;
    text-align: center;
}
.frame .CreateSpace .heading span {
    margin: .7rem 0rem;
    font-size: 1rem;
    display: block;
    text-align: center;
}
/* Heading css end here */

/* Space Name css start from here */
.frame .CreateSpace .space_name {
    margin: 1rem 0rem;
}
.frame .CreateSpace .space_name span {
    font-size: .7rem;
}
/* Space Name css end here */

/* Spae logo css start from here */
.frame .CreateSpace .spaceLogo {
    margin: 1rem 0rem ;
}
.frame .CreateSpace .spaceLogo .spaceLogo_btn {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;    
}
.frame .CreateSpace .spaceLogo .spaceLogo_btn .spaceLogoImage {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.frame .CreateSpace .spaceLogo .spaceLogo_btn .change_btn #imageInput {
    display: none;
}
input {
    display: block;
    width: 87%;
    height: 2.2rem;
    padding: 0px 3px;
}
::placeholder {
    white-space: pre-wrap;
    vertical-align: top;
}
/* Space logo css end here */

/* Space header title css start from here */
.frame .CreateSpace .space_titleHeader {
    margin: 1rem 0rem;
}
/* Space header title css end here */


/* Space custom message css start from here */
.frame .CreateSpace .space_customMessage {
    margin: 1rem 0rem;
}
.frame .CreateSpace .space_customMessage #customeMessage {
    height: 5.2rem;
}
/* Space custom message css end here */

/* Space Question css start from here */

/* Space Question css end here */
/* Frame css end here    */